name: Build & Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

jobs:
  build-test-iOS:
    name: Build & Test - ${{ matrix.os }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: "iOS 26"
            runs-on: macos-26
            destination: "OS=26.2,name=iPhone 17 Pro"
          - os: "iOS 18"
            runs-on: macos-15
            destination: "OS=18.6,name=iPhone 16 Pro"
          - os: "iOS 17"
            runs-on: macos-14
            destination: "OS=17.5,name=iPhone 15 Pro"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # Set the fetch-depth > 1 or set to 0 for codecov upload detection
          fetch-depth: 2

      - name: Enable development dependencies
        run: sed -i.bak "s/\/\/dev//g" Package.swift

      - name: Build & test package for iOS
        run: |
          set -o pipefail && \
          env NSUnbufferedIO=YES \
          xcodebuild \
            -workspace . \
            -scheme "OnLaunch-iOS-Client" \
            -sdk iphonesimulator \
            -destination "${{ matrix.destination }}" \
            -enableCodeCoverage YES \
            -derivedDataPath DerivedData \
            CODE_SIGNING_ALLOWED="NO" \
            build test 2>&1 | xcbeautify --preserve-unbeautified

      - name: Build example for UIKit
        run: |
          set -o pipefail && \
          env NSUnbufferedIO=YES \
          xcodebuild \
            -project Examples/Examples.xcodeproj \
            -scheme "Example-UIKit" \
            -sdk iphonesimulator \
            -destination "${{ matrix.destination }}" \
            -derivedDataPath DerivedData \
            CODE_SIGNING_ALLOWED="NO" \
            build 2>&1 | xcbeautify --preserve-unbeautified

      - name: Build example for SwiftUI
        run: |
          set -o pipefail && \
          env NSUnbufferedIO=YES \
          xcodebuild \
            -project Examples/Examples.xcodeproj \
            -scheme "Example-SwiftUI" \
            -sdk iphonesimulator \
            -destination "${{ matrix.destination }}" \
            -derivedDataPath DerivedData \
            CODE_SIGNING_ALLOWED="NO" \
            build 2>&1 | xcbeautify --preserve-unbeautified

      - name: Upload result files on failure
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: Result ${{ matrix.os }}.xcresult
          path: DerivedData/Logs/Test/*.xcresult

      - name: Generate code coverage reports
        run: |
          mkdir -p coverage
          PROFDATA_PATH=$(pwd)/$(find DerivedData -name "*.profdata")
          echo "Detected profdata at path: $PROFDATA_PATH"
          xcrun llvm-cov export \
            $(pwd)/DerivedData/Build/Products/Debug-iphonesimulator/OnLaunchTests.xctest/OnLaunchTests \
            --instr-profile $PROFDATA_PATH \
            --format="lcov" > coverage/coverage.lcov

      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/coverage.lcov
          name: codecov-umbrella
          flags: unittests
          fail_ci_if_error: true
